<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songify</title>
    <link rel="stylesheet" href="/public/base.css" type="text/css">
</head>
<body>
    before
    <br>
<%- body %>
<br>
after
</body>
</html>