<label for="songTitle">Song name:</label>
<input type="text" id="songTitle" name="songTitle" placeholder="Enter the song title" />
<br>
<label for="songArtist">Artist name:</label>
<input type="text" id="songArtist" name="songArtist" placeholder="Enter the song artist" />
<br>
<label for="songAlbum">Album name:</label>
<input type="text" id="songAlbum" name="songAlbum" placeholder="Enter the song album" />
<br>
<label for="songGenre">Song Genre:</label>
<input type="text" id="songGenre" name="songGenre" placeholder="Enter the song genre" />
<br>
<label for="songKey">Song Key:</label>
<input type="text" id="songKey" name="songKey" placeholder="Enter song key" />
