<label for="nameSong">Song name:</label>
<input type="text" id="nameSong" name="nameSong" placeholder="Enter song name" />
<br>
<label for="nameArtist">Artist name:</label>
<input type="text" id="nameArtist" name="nameArtist" placeholder="Enter artist name" />
<br>
<label for="nameAlbum">Album name:</label>
<input type="text" id="nameAlbum" name="nameAlbum" placeholder="Enter album name" />
<br>
<label for="nameKey">Song Key:</label>
<input type="text" id="nameKey" name="nameKey" placeholder="Enter song key" />
