<!-- views/songs/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Songs</title>
    <link rel="stylesheet" href="/public/base.css" type="text/css">
</head>
<body>
    <h1>All Songs</h1>    
    <button id="myButton">Click me!</button>
    
    <div class="container">
        <input type="text" id="songIdInput" placeholder="Enter song ID">
        <button id="searchButton">Search</button>
        <div id="songDetails"></div>
    </div>

<script>


   //Search by id
   
   document.querySelector("#searchButton").addEventListener('click', function() {
    const div = document.createElement('div')
    div.classList.add('cards') 
    const input = document.querySelector('#songIdInput')
    const songId = input.value

    fetch(`http://localhost:3000/songs/song/${songId}`)
    .then(res => {
        return res.json();
    })
    .then(data => {
                data.forEach(song => {
    
                    console.log(song.title)
                    const divSong = `<div class="playerCard">${song.title}</div>`
                    div.innerHTML += divSong
                    
                }) 
            })
            .catch(error => console.log(error))
            document.body.appendChild(div)


   })

      
        document.getElementById("myButton").addEventListener("click", function() {
            
            const div = document.createElement('div')
            div.classList.add('cards') 
            let counter = 0 
        
            
            // window.location.href = "/songs/allSongs"  
            fetch('http://localhost:3000/songs/allsongs')
            .then(res => {
                return res.json();
            })
            .then(data => {
                data.forEach(song => {
                    counter += 1;
                    console.log(song.title)
                    const divSong = `<div class="playerCard">${counter} ${song.title}</div>`
                    div.innerHTML += divSong
                    
                }) 
            })
            .catch(error => console.log(error))
            document.body.appendChild(div)
        });
       


       
    </script> 
    
</body>

</html>
