<h2>Add new song to library</h2>

<form action="/songs/new" method="POST">

    <%- include('./_form_fields.ejs') %>
<div>
    <a href="/songs">Cancel</a>
    <button type="submit">Add Song!</button>
</div>

</form>